$isAppMode: true; // components  are displayed together (true) or individually (false)

@import '../sass-shared/reset';
@import '../sass-shared/variables';

@font-face {
    font-family: 'Univers LT Std';
    font-style: normal;
    font-weight: normal;
    src: url('../assets/fonts/UniversLTStd.woff2') format('woff2'),
        url('../assets/fonts/UniversLTStd.woff') format('woff'),
        url('../assets/fonts/UniversLTStd.ttf') format('truetype');
}

@if $isAppMode == false {
    body {
        @include body-setting;
    }
}
