@import '../sass-shared/settings';

@mixin placeholder-color {
    color: $colorLinkWater2;
    opacity: 1;
}

.input-area {
    resize: none;
    background: $colorWhite 0% 0% no-repeat padding-box;
    border: 1px solid $colorLinkWater1;
    border-radius: 3px;
    color: $colorBlack;
    width: 100%;
    box-sizing: border-box;
    @include from-px-to-rem('padding-left', 20px);
    @include from-px-to-rem('padding-right', 20px);
    @include from-px-to-rem('padding-top', 15px);
    @include from-px-to-rem('padding-bottom', 14px);
    @include from-px-to-rem('line-height', 16px);

    &::placeholder {
        @include placeholder-color();
    }
    &::-webkit-input-placeholder {
        @include placeholder-color();
    }
    &::-moz-placeholder {
        @include placeholder-color();
    }
    &::-ms-input-placeholder {
        @include placeholder-color();
    }
}
