@import '../sass-shared/settings';

$paddingLR: 20px;
$paddingTB: 10px;

.insert {
    background-color: $colorSolitude;
    box-sizing: border-box;
    @include from-px-to-rem('height', 114px);
    @include from-px-to-rem('padding-left', $paddingLR);
    @include from-px-to-rem('padding-right', $paddingLR);
    @include from-px-to-rem('padding-top', $paddingTB);
    @include from-px-to-rem('padding-bottom', $paddingTB);
    position: relative;
    > .insert-btn {
        @include from-px-to-rem('width', 90px);
        @include from-px-to-rem('height', 35px);
        position: absolute;
        @include from-px-to-rem('bottom', $paddingTB);
        @include from-px-to-rem('right', $paddingLR);
    }
    > .insert-input {
        @include from-px-to-rem('height', 48px);
        @include from-px-to-rem('margin-bottom', 10px);
    }
}
