@import './sass-shared/settings';

body {
    @include body-setting;
}

.app {
    box-shadow: 0px 3px 6px $colorLinkWater1;
    @include from-px-to-rem('max-width', 1200px);
    @include from-px-to-rem('min-width', 375px);
    width: 100%;
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.notes-list {
    height: 45vh;
    overflow-y: scroll;
}

/**scrollbar customization*/
// .notes-list::-webkit-scrollbar {
//   width: 12px;               /* width of the entire scrollbar */
// }

// .notes-list::-webkit-scrollbar-track {
//   background: orange;        /* color of the tracking area */
// }

// .notes-list::-webkit-scrollbar-thumb {
//   background-color: blue;    /* color of the scroll thumb */
//   border-radius: 20px;       /* roundness of the scroll thumb */
//   border: 3px solid orange;  /* creates padding around scroll thumb */
// }

// .notes-list {
//   scrollbar-width: thin;
//   scrollbar-color: blue orange;
// }
