@import './sass-shared/settings';

body {
    @include body-setting;
}

.app {
    box-shadow: 0px 3px 6px $colorLinkWater1;
    @include from-px-to-rem('max-width', 1200px);
    @include from-px-to-rem('min-width', 375px);
    width: 100%;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        @include from-px-to-rem('height', 90px);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        background: transparent linear-gradient(0deg, $colorWhiteAlpha0 0%, $colorWhite 100%) 0% 0%
            no-repeat;
        z-index: 1;
    }
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.notes-list {
    height: 45vh;
    overflow-y: scroll;
    @include from-px-to-rem('padding', 20px);
    display: flex;
    flex-direction: column;
    > .note {
        align-self: flex-start;
    }
    > .note--right {
        align-self: flex-end;
    }

    /*SCROLLBAR*/

    scrollbar-width: thin;
    scrollbar-color: $colorWaikawaGrey $colorBlackPearlAlpha10;

    &::-webkit-scrollbar {
        width: 8px;
    }

    &::-webkit-scrollbar-track {
        background: $colorBlackPearlAlpha10;
        opacity: 0.1;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $colorWaikawaGrey;
        border-radius: 20px;
        border: 3px solid $colorWaikawaGrey;
    }
}
